<section class="modal">
  <h2 class="sr-only">Форма входа на сайт</h2>
  <div class="container">
    <div class="modal__links">
      <a class="modal__link" href="../../register.html">register</a>
      <a class="modal__link modal__link--active" href="../../login.html">login</a>
    </div>
    <form class="modal__form" action="#">
      <label class="modal__label" for="text">Username or email address*</label>
      <input class="modal__input" type="text" name="mail" id="email" required placeholder="">

      <label class="modal__label" for="password">Password*</label>
      <input class="modal__input" type="password" name="password" id="password" required placeholder="">

      <input type="checkbox" name="checkbox" id="checkbox">
      <label class="modal__label" for="checkbox">Remember me</label>
      <button class="modal__button" type="submit">log in</button>
      <a class="modal__error" href="#">Lost your password?</a>
    </form>
  </div>
</section>