<section class="product">
  <div class="container">
    <h2 class="title product__title">
      trending products
    </h2>
    <div class="text-center">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmodmoe tempor incididunt ut labore et dolore aliqua.
      </p>
    </div>
    <div class="product__items">

      <div class="product-item">
        <div class="product-item__img">
          <img src="../../img/content/product/img_1.jpg" alt="img polo">
          <ul class="product-item__list">
            <li class="product-item__item">
              <a class="product-item__link" href="#" style="background-image: url('../../img/icons/icon-search.png');">
                <span class="sr-only">перейти к товару</span>
              </a>
            </li>
            <li class="product-item__item product-item__item--line">
              <a class="product-item__link product-item__link--line" href="#" style="background-image: url('../../img/icons/icon-bag.png');">
                <span class="sr-only">товар в корзине</span>
              </a>
            </li>
            <li class="product-item__item">
              <a class="product-item__link" href="#" style="background-image: url('../../img/icons/icon-heart.png');">
                <span class="sr-only">понравившийся товар</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="star" data-rateyo-rating="4"></div>
        <h4 class="product-item__title">
          White Polo Men’s T-Shirt
        </h4>
        <div class="product-item__price">
          <div class="product-item__new-price">$34.00</div>
        </div>
      </div>

      <div class="product-item product-item--sale">
        <div class="product-item__img">
          <img src="../../img/content/product/img_2.jpg" alt="img polo">
          <ul class="product-item__list">
            <li class="product-item__item">
              <a class="product-item__link" href="#" style="background-image: url('../../img/icons/icon-search.png');">
                <span class="sr-only">перейти к товару</span>
              </a>
            </li>
            <li class="product-item__item product-item__item--line">
              <a class="product-item__link product-item__link--line" href="#" style="background-image: url('../../img/icons/icon-bag.png');">
                <span class="sr-only">товар в корзине</span>
              </a>
            </li>
            <li class="product-item__item">
              <a class="product-item__link" href="#" style="background-image: url('../../img/icons/icon-heart.png');">
                <span class="sr-only">понравившийся товар</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="star" data-rateyo-rating="5"></div>
        <h4 class="product-item__title">
          White Polo Men’s T-Shirt
        </h4>
        <div class="product-item__price">
          <div class="product-item__new-price">$34.00</div>
          <div class="product-item__old-price">$27.00</div>
        </div>
      </div>

      <div class="product-item">
        <div class="product-item__img">
          <img src="../../img/content/product/img_3.jpg" alt="img polo">
          <ul class="product-item__list">
            <li class="product-item__item">
              <a class="product-item__link" href="#" style="background-image: url('../../img/icons/icon-search.png');">
                <span class="sr-only">перейти к товару</span>
              </a>
            </li>
            <li class="product-item__item product-item__item--line">
              <a class="product-item__link product-item__link--line" href="#" style="background-image: url('../../img/icons/icon-bag.png');">
                <span class="sr-only">товар в корзине</span>
              </a>
            </li>
            <li class="product-item__item">
              <a class="product-item__link" href="#" style="background-image: url('../../img/icons/icon-heart.png');">
                <span class="sr-only">понравившийся товар</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="star" data-rateyo-rating="3.5"></div>
        <h4 class="product-item__title">
          White Polo Men’s T-Shirt
        </h4>
        <div class="product-item__price">
          <div class="product-item__new-price">$34.00</div>
        </div>
      </div>

      <div class="product-item product-item--sale">
        <div class="product-item__img">
          <img src="../../img/content/product/img_4.jpg" alt="img polo">
          <ul class="product-item__list">
            <li class="product-item__item">
              <a class="product-item__link" href="#" style="background-image: url('../../img/icons/icon-search.png');">
                <span class="sr-only">перейти к товару</span>
              </a>
            </li>
            <li class="product-item__item product-item__item--line">
              <a class="product-item__link product-item__link--line" href="#" style="background-image: url('../../img/icons/icon-bag.png');">
                <span class="sr-only">товар в корзине</span>
              </a>
            </li>
            <li class="product-item__item">
              <a class="product-item__link" href="#" style="background-image: url('../../img/icons/icon-heart.png');">
                <span class="sr-only">понравившийся товар</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="star" data-rateyo-rating="5"></div>
        <h4 class="product-item__title">
          White Polo Men’s T-Shirt
        </h4>
        <div class="product-item__price">
          <div class="product-item__new-price">$34.00</div>
          <div class="product-item__old-price">$27.00</div>
        </div>
      </div>

      <div class="product-item">
        <div class="product-item__img">
          <img src="../../img/content/product/img_5.jpg" alt="img polo">
          <ul class="product-item__list">
            <li class="product-item__item">
              <a class="product-item__link" href="#" style="background-image: url('../../img/icons/icon-search.png');">
                <span class="sr-only">перейти к товару</span>
              </a>
            </li>
            <li class="product-item__item product-item__item--line">
              <a class="product-item__link product-item__link--line" href="#" style="background-image: url('../../img/icons/icon-bag.png');">
                <span class="sr-only">товар в корзине</span>
              </a>
            </li>
            <li class="product-item__item">
              <a class="product-item__link" href="#" style="background-image: url('../../img/icons/icon-heart.png');">
                <span class="sr-only">понравившийся товар</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="star" data-rateyo-rating="4.5"></div>
        <h4 class="product-item__title">
          White Polo Men’s T-Shirt
        </h4>
        <div class="product-item__price">
          <div class="product-item__new-price">$34.00</div>
        </div>
      </div>

      <div class="product-item product-item--sale">
        <div class="product-item__img">
          <img src="../../img/content/product/img_6.jpg" alt="img polo">
          <ul class="product-item__list">
            <li class="product-item__item">
              <a class="product-item__link" href="#" style="background-image: url('../../img/icons/icon-search.png');">
                <span class="sr-only">перейти к товару</span>
              </a>
            </li>
            <li class="product-item__item product-item__item--line">
              <a class="product-item__link product-item__link--line" href="#" style="background-image: url('../../img/icons/icon-bag.png');">
                <span class="sr-only">товар в корзине</span>
              </a>
            </li>
            <li class="product-item__item">
              <a class="product-item__link" href="#" style="background-image: url('../../img/icons/icon-heart.png');">
                <span class="sr-only">понравившийся товар</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="star" data-rateyo-rating="5"></div>
        <h4 class="product-item__title">
          White Polo Men’s T-Shirt
        </h4>
        <div class="product-item__price">
          <div class="product-item__new-price">$34.00</div>
          <div class="product-item__old-price">$27.00</div>
        </div>
      </div>

    </div>
    <a class="button product__link" href="#">load more</a>
  </div>
</section>