@use"sass:math"; // не забываем добавить эту строку, чтобы функции math в миксине работали

@mixin font-face($name, $file, $weight: 400, $style: normal) {
	@font-face {
		font-family: "#{$name}";
		src: local("#{$file}"),
		url('../fonts/#{$file}.woff2') format('woff2'),
		url('../fonts/#{$file}.woff') format('woff');
		font-weight: $weight;
		font-style: $style;
		font-display: swap;
	}
}


@mixin recolor($color: #000) {
    $r: math.div(red($color), 255);
    $g: math.div(green($color), 255);
    $b: math.div(blue($color), 255);
    $a: alpha($color);
  
    // фолбек(fallback) на случай, если браузер не поддерживает data-url
    $lightness: lightness($color);
    filter: saturate(0%) brightness(0%) invert($lightness) opacity($a);
  
    // фильтр цвета
    $svg-filter-id: "recolor";
    filter: url('data:image/svg+xml;utf8,\
      <svg xmlns="http://www.w3.org/2000/svg">\
        <filter id="#{$svg-filter-id}" color-interpolation-filters="sRGB">\
          <feColorMatrix type="matrix" values="\
           0 0 0 0 #{$r}\
           0 0 0 0 #{$g}\
           0 0 0 0 #{$b}\
           0 0 0 #{$a} 0\
          "/>\
        </filter>\
      </svg>\
      ##{$svg-filter-id}');
  }

@mixin bg ($size:"contain", $position: "center") {
	background-size: #{$size};
	background-position: #{$position};
	background-repeat: no-repeat;
}

@mixin btn_anim($scaleMax:1.05, $scaleMin:0.95) {
	transform-origin: center center;
	transition: all ease-out 240ms;

	&:hover {
		transform: scale(#{$scaleMax});
	}

	&:focus {
		outline: transparent;
	}

	&:focus-visible {
		transform: scale(#{$scaleMax}) translateY(-5%);
	}

	&:active {
		transform: scale(#{$scaleMin});
	}
}

@mixin no-btn ($display:"inline-block") {
	padding: 0;
	margin: 0;
	border: 0;
	background-color: transparent;
	border-radius: 0;
	cursor: pointer;
	appearance: none;
	display: #{$display};
}

@mixin transit ($tr:0.24) {
	transition: all #{$tr}s;
}

@mixin container($max-width:"120rem", $padding:"2rem") {
	width: 100%;
	max-width: #{$max-width};
	padding: 0 #{$padding};
	margin: 0 auto;
}

@mixin checkbox-hidden ($width:'1px', $height:'1px', $display:'none') {
	width: #{$width};
    height: #{$height};
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
	display: #{$display};
}

@mixin radio-hidden ($width:'1px', $height:'1px', $display:'none') {
	width: #{$width};
    height: #{$height};
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
	display: #{$display};
}