<div class="top-slider">
  <div class=" top-slider__container">
    <h1 class="sr-only">Слайдер предложений</h1>
    <div class="top-slider__inner">

      <div class="top-slider__box">
        <div class="top-slider__item">
          <div class="top-slider__content">
            <div class="top-slider__title">
              <span>New Season</span>
              <h2>New Brand Collection</h2>
            </div>
            <div class="top-slider__text">
              <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do et dolore magna aliqua. Ipsum.
              </span>
            </div>
            <a class="button button--slider" href="#">buy now</a>
          </div>
          <img src="img/slider/photo.png" alt="изображение слайда продажи">
        </div>
      </div>

      <div class="top-slider__box">
        <div class="top-slider__item">
          <div class="top-slider__content">
            <div class="top-slider__title">
              <span>New Season</span>
              <h2>New Brand Collection</h2>
            </div>
            <div class="top-slider__text">
              <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do et dolore magna aliqua. Ipsum.
              </span>
            </div>
            <a class="button  button--top-slider" href="#">buy now</a>
          </div>
          <img src="img/slider/photo.png" alt="изображение слайда продажи">
        </div>
      </div>

      <div class="top-slider__box">
        <div class="top-slider__item">
          <div class="top-slider__content">
            <div class="top-slider__title">
              <span>New Season</span>
              <h2>New Brand Collection</h2>
            </div>
            <div class="top-slider__text">
              <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do et dolore magna aliqua. Ipsum.
              </span>
            </div>
            <a class="button  button--top-slider" href="#">buy now</a>
          </div>
          <img src="img/slider/photo.png" alt="изображение слайда продажи">
        </div>
      </div>

      <div class="top-slider__box">
        <div class="top-slider__item">
          <div class="top-slider__content">
            <div class="top-slider__title">
              <span>New Season</span>
              <h2>New Brand Collection</h2>
            </div>
            <div class="top-slider__text">
              <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do et dolore magna aliqua. Ipsum.
              </span>
            </div>
            <a class="button  button--top-slider" href="#">buy now</a>
          </div>
          <img src="img/slider/photo.png" alt="изображение слайда продажи">
        </div>
      </div>
    </div>
  </div>
</div>