<section class="video-fashion">
  <div class="container">
    <div class="video-fashion__inner">
      <div class="video-fashion__popup" style="background-image: url('../../img/video-fashion.jpg');">
        <a class="video-fashion__play" data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk">
          <img src="../../img/icons/icon-play-btn.png" alt="video play button">
        </a>
      </div>

      <div class="video-fashion__content">
        <span class="subtitle video-fashion__subtitle">
          Winter Collection 20% Off
        </span>
        <h2 class="title video-fashion__title">
          trending fashion
        </h2>
        <div class="text video-fashion__text">
          <p>
            Lorem ipsum dolor sit amet, consectetur apiscing elit, sed do eiusmod temp incididunt ut labore et dolore magna aliqua consectetur adipiscing elit, sedu do eiusmod temp indidunt ut labore et dolore magna aliqua.. Quis ipsum de ultcesm. Risus commodo viverra maecenas.
          </p>

        </div>
        <a class="button video-fashion__btn" href="#">View Now</a>
      </div>
    </div>
  </div>
</section>