<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-top__item footer-top--contact">
        <a href="#" class="logo">
          <img class="logo__img logo__img--logo" src="img/logo.png" alt="логотип marcho" width="157">
        </a>

        <address class="address">
          <ul class="address__list">
            <li>
              <a href="#">
                No. 342 - London Oxford Street,
                012 United States
              </a>
            </li>
            <li>
              <a href="mailto:Youremail@gmail.com">
                Youremail@gmail.com
              </a>
            </li>
            <li>
              <a href="tel:+02838388393">
                +0283 838 8393
              </a>
            </li>
          </ul>

          <div class="social">
            <ul class="social__list">
              <li>
                <a href="#">
                  <svg>
                    <use xlink:href="img/sprite.svg#icon-facebook" />
                  </svg>
                </a>
              </li>
              <li>
                <a href="#">
                  <svg>
                    <use xlink:href="img/sprite.svg#icon-twitter" />
                  </svg>
                </a>
              </li>
              <li>
                <a href="#">
                  <svg>
                    <use xlink:href="img/sprite.svg#icon-linkedin" />
                  </svg>
                </a>
              </li>
              <li>
                <a href="#">
                  <svg>
                    <use xlink:href="img/sprite.svg#icon-google" />
                  </svg>
                </a>
              </li>
              <li>
                <a href="#">
                  <svg>
                    <use xlink:href="img/sprite.svg#icon-pinterest" />
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </address>
      </div>

      <div class="footer-top__item footer-top--nav">
        <span class="footer-top__title">Useful Links</span>
        <ul class="footer-top__list">
          <li>
            <a href="#">
              About Us

            </a>
          </li>
          <li>
            <a href="#">
              Privacy Policy

            </a>
          </li>
          <li>
            <a href="#">
              Terms & Conditions

            </a>
          </li>
          <li>
            <a href="#">
              Contact Us

            </a>
          </li>
          <li>
            <a href="#">
              Help & Support
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-top__item footer-top--nav">
        <span class="footer-top__title">My Account</span>
        <ul class="footer-top__list">
          <li>
            <a href="#">
              My Account
            </a>
          </li>
          <li>
            <a href="#">
              My Cart
            </a>
          </li>
          <li>
            <a href="#">
              My WIshlist
            </a>
          </li>
          <li>
            <a href="#">
              Registration
            </a>
          </li>
          <li>
            <a href="#">
              Check Out
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-top__item footer-top__item--form">
        <span class="footer-top__title">Subscribe Our Newsletter</span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.
        </p>
        <form class="footer-top__form" action="#">
          <label for="email"></label>
          <input class="footer-top__input" type="email" name="" id="email" placeholder="Your email address" required>
          <button class="button button--form" type="subscribe">Subscribe</button>
        </form>
      </div>
    </div>

    <div class="footer-bottom">
      <p>
        © 2019 CodeAstrology. All Rights Reserved.
      </p>
      <div class="footer-bottom__iccept">
        <span>We Accept</span>
        <ul class="footer-bottom__list">
          <li class="footer-bottom__item">
            <a class="footer-bottom__link footer-bottom__link--mass" href="#" style="background-image: url('../../img/icons/icon-mastercard.png');">

            </a>
          </li>
          <li class="footer-bottom__item">
            <a class="footer-bottom__link footer-bottom__link--visa" href="#" style="background-image: url('../../img/icons/icon-visa.png');">

            </a>
          </li>
          <li class="footer-bottom__item">
            <a class="footer-bottom__link footer-bottom__link--pay" href="#" style="background-image: url('../../img/icons/icon-paypal.png');">

            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</footer>