<header class="header">
  <div class="container">
    <div class="header__inner">
      <nav class="menu">
        <a href="#" class="logo">
          <img class="logo__img" src="img/logo.png" alt="логотип marcho" width="183" height="30">
        </a>

        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link menu__link--active" href="#">
              home
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">
              shop
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">
              page
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">
              blog
            </a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">
              contact
            </a>
          </li>
        </ul>

        <div class="user-nav">
          <ul class="user-nav__list">
            <li class="user-nav__item">
              <a class="user-nav__link" href="#" style="background-image: url('../../img/icons/icon-user.png');">
                <span class="sr-only">авторизованный пользователь</span>
              </a>
            </li>
            <li class="user-nav__item">
              <span class="sr-only">поиск на сайте</span>
              <button class="user-nav__btn" type="button" style="background-image: url('../../img/icons/icon-search.png');">
              </button>
            </li>
            <li class="user-nav__item">
              <a class="user-nav__link" href="#" style="background-image: url('../../img/icons/icon-heart.png');">
                <span class="sr-only">понравившиеся позиции</span>
              </a>
              <span class="user-nav__nam">3</span>
            </li>
            <li class="user-nav__item">
              <a class="user-nav__link" href="#" style="background-image: url('../../img/icons/icon-cart.png');">
                <span class="sr-only">корзина с товарами</span>
              </a>
              <span class="user-nav__nam">7</span>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

</header>