<section class="page-error">
    <div class="container">
      <div class="page-error__inner">
        <div class="page-error__content">
          <h2 class="title page-error__title">
            OPPS! Page Not Found!!
          </h2>
  
          <div class="page-error__text">
            <p>
              We,re sorry but we can’t seem to find the pages you request. This might be because you have typed the web address not find incorrectly.
            </p>
          </div>
  
          <a class="button page-error__link" href="#">back to home</a>
        </div>
        <img class="page-error__img" src="../../img/404.png" alt="404 images" width="500" >
      </div>
    </div>
  </section>