.page-error {
  padding: 0 0 120px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    max-width: 570px;
    width: 100%;
  }

  &__title {
    margin-bottom: 20px;
    color: #28384f;
  }

  &__text p {
    font-family: 'Quicksand', sans-serif;
    max-width: 470px;
    margin-bottom: 55px;
  }

  &__link {
    color:#fff;
    letter-spacing: normal;
  }
}