<section class="map">
  <h2 class="sr-only">
    Page with address, card and feedback form
  </h2>
  <div class="container">
    <div id="map"></div>
  </div>
</section>

<section class="contact">
  <div class="container">
    <div class="contact__inner">
      <div class="contact__info">
        <h3 class="contact__title">
          Feel Free Don’t Hesitate To Contact With Us
        </h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adingn elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo maecnaacnrao cumsan lacus vel facilisis.
        </p>

        <address class="contact__address">
          <ul class="contact__list">
            <li class="contact__item">
              <span class="sr-only">связаться по номеру телефона</span>
              <a class="contact__link" href="tel:+01234567896">+0-123-456-7896</a>
              <a class="contact__link" href="tel:+01234567896">+0-123-456-7896</a>
            </li>
            <li class="contact__item contact__item--location">
              <span class="sr-only">адрес компании</span>
              <span>
                Ranlon Market 789 Road, Market Street, Newyork
              </span>
            </li>
            <li class="contact__item contact__item--mail">
              <span class="sr-only">написать письмо по @e-mail</span>
              <a class="contact__link" href="mailto:yourmailaddress@gmail.com">yourmailaddress@gmail.com</a>
              <a class="contact__link" href="mailto:companymail@gmail.com">companymail@gmail.com</a>
            </li>
          </ul>
        </address>
      </div>
      <form class="contact__form" action="#" method="post">
        <span class="contact__form-title">Contact Form</span>

        <div class="contact__input-box">
          <input class="contact__input" type="text" placeholder="Your Name" required>
          <input class="contact__input" type="mail" placeholder="Your E-mail Address" required>
        </div>
        <input class="contact__input" type="text" placeholder="Subject">
        <textarea class="contact__textarea" placeholder="Message here"></textarea>
        <button class="button contact__button" type="submit">send message</button>
      </form>
    </div>
  </div>
</section>